.App {
  text-align: center;
}

.search {
  /* display: flex;
  justify-content: space-around; */
  height: 20vh;
  background-color: rgb(9, 13, 19);
}

.input {
  margin-top: 5%;
  width: 50%;
  padding: 10px;
  border-radius: 34.5px;
  border: transparent;
  color: black;
  font-size: 14px;
}

.data {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  width: 30%;
  margin: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .search {
    height: 15vh;
  }

  img {
    width: 80%;
    margin: 10px;
  }

  .data {
    width: 100%;
  }
}

@media screen and (max-width: 764px) {
  .search {
    height: 15vh;
  }

  img {
    width: 75%;
    margin: 10px;
  }

  /* .data {
    width: 70%;
  } */
}

/* @media screen and (max-width: 1080px) {
  .search {
    height: 15vh;
  }

  img {
    width: 40%;
    margin: 10px;
  }

  .data {
    width: 70%;
  }
} */